.固定タブ {
	display: flex;
	justify-content: space-between;
	background-color: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 1220px;
	height: 40px;
	& .ロゴ画像 {
		text-align: left;
	}
	& .ロゴ以外並び {
		font-size: 1.2rem;
		font-weight: bold;
		display: flex;
		justify-content: space-between;
		text-align: center;
		gap: 20px;
	}
}

.画面１ {
	width: 1200px;
	& .サイトホーム画像 {
		width: 1200px;
		text-align: center;

	}
	& .イントロ文 {
		margin: 20px 0 0 0;
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
	}
	& .サイトメニュー {
		width: 1200px;
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
		margin: 50px 0 0 0;

	}
	& .メニュー並び {
		width: 1200px;
		display: flex;
		justify-content: space-between;
		text-align: center;
		margin: 10px 0 0 0;
		font-weight: bold;
		font-size: 1.2rem;
		& .ジンへ {
			padding: 25px 75px;
			background-color: #7fffd4;
		}
		& .ウォッカへ {
			padding: 25px 75px;
			background-color: #80eaff;
		}
		& .ラムへ {
			padding: 25px 75px;
			background-color: #ffffb3;
		}
		& .テキーラへ {
			padding: 25px 75px;
			background-color: #80ffff;
		}
		& .まとめへ {
			padding: 25px 75px;
			border-radius: 100vh;
			background-color: #ff99dd;
		}
	}
}

.画面2 {
	width: 1200px;

	& .全体説明画像 {
		width: 1200px;
		margin: 50px 0 0 0;
	}

	& .ジン全体並び {
		display: flex;
		justify-content: space-between;
		margin: 100px 0 0 0;
		& .ジン説明並び {
			width: 1000px;
			margin-top: 100px;
			margin: auto;

			& .ジンタイトル {
				margin: 0px 0 0 0;
				font-size: 5rem;
				font-weight: bold;

			}
			& .ジン説明 {
				font-size: 1rem;
				line-height: 2;
			}
		}

		& .ジン画像並び {
			width: 1000px;
			margin-top: 100px;
			margin: auto;

			& .ジン原材料画像 {}
			& .ジン画像補足説明 {}

		}
	}
	& .ジン生産工程画像 {
		width: 1200px;
		margin: 50px 0 0 0;
	}

	& .ジン代表カクテル並び {

		margin: 50px 0 0 0;

		& .ジン代表カクテル {
			text-align: center;
			margin: 0 0 50px 0;
			font-size: 2rem;
			font-weight: bold;
		}
		& .ジンカクテル全体並び {
			width: 1000px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			& .ジンカクテル1並び {


				& .ジンカクテル１ {
					width: 400px;
				}
				& .ジンカクテル１名前 {}
			}
			& .ジンカクテル2並び {


				& .ジンカクテル２ {
					width: 400px;
				}
				& .ジンカクテル2名前 {}
			}
		}
	}
}

.画面3 {
	width: 1200px;

	& .ウォッカ全体並び {
		display: flex;
		justify-content: space-between;
		margin: 100px 0 0 0;
		& .ウォッカ説明並び {
			width: 1000px;
			margin-top: 100px;
			margin: auto;

			& .ウォッカタイトル {
				margin: 0 0 0 0;
				font-size: 5rem;
				font-weight: bold;

			}
			& .ウォッカ説明 {
				font-size: 1rem;
				line-height: 2;
			}
		}

		& .ウォッカ画像並び {
			width: 1000px;
			margin-top: 100px;
			margin: auto;

			& .ウォッカ原材料画像 {}
			& .ウォッカ画像補足説明 {}

		}
	}
	& .ウォッカ生産工程画像 {
		width: 1200px;
		margin: 50px 0 0 0;
	}

	& .ウォッカ代表カクテル並び {

		margin: 50px 0 0 0;

		& .ウォッカ代表カクテル {
			text-align: center;
			margin: 0 0 50px 0;
			font-size: 2rem;
			font-weight: bold;
		}
		& .ウォッカカクテル全体並び {
			width: 1000px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			& .ウォッカカクテル1並び {


				& .ウォッカカクテル１ {
					width: 400px;
				}
				& .ウォッカカクテル１名前 {}
			}
			& .ウォッカカクテル2並び {


				& .ウォッカカクテル２ {
					width: 400px;
				}
				& .ウォッカカクテル2名前 {}
			}
		}
	}
}

.画面4 {
	width: 1200px;

	& .ラム全体並び {
		display: flex;
		justify-content: space-between;
		margin: 100px 0 0 0;
		& .ラム説明並び {
			width: 1000px;
			margin-top: 100px;
			margin: auto;

			& .ラムタイトル {
				margin: 0 0 0 0;
				font-size: 5rem;
				font-weight: bold;

			}
			& .ラム説明 {
				font-size: 1rem;
				line-height: 2;
			}
		}

		& .ラム画像並び {
			width: 1000px;
			margin-top: 100px;
			margin: auto;

			& .ラム原材料画像 {}
			& .ラム画像補足説明 {}

		}
	}
	& .ラム生産工程画像 {
		width: 1200px;
		margin: 50px 0 0 0;
	}

	& .ラム代表カクテル並び {

		margin: 50px 0 0 0;

		& .ラム代表カクテル {
			text-align: center;
			margin: 0 0 50px 0;
			font-size: 2rem;
			font-weight: bold;
		}
		& .ラムカクテル全体並び {
			width: 1000px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			& .ラムカクテル1並び {


				& .ラムカクテル１ {
					width: 400px;
				}
				& .ラムカクテル１名前 {}
			}
			& .ラムカクテル2並び {


				& .ラムカクテル２ {
					width: 400px;
				}
				& .ラムカクテル2名前 {}
			}
		}
	}
}

.画面５ {
	width: 1200px;

	& .テキーラ全体並び {
		display: flex;
		justify-content: space-between;
		margin: 100px 0 0 0;
		& .テキーラ説明並び {
			width: 1000px;
			margin-top: 100px;
			margin: auto;

			& .テキーラタイトル {
				margin: 0 0 0 0;
				font-size: 5rem;
				font-weight: bold;

			}
			& .テキーラ説明 {
				font-size: 1rem;
				line-height: 2;
			}
		}

		& .テキーラ画像並び {
			width: 1000px;
			margin-top: 100px;
			margin: auto;

			& .テキーラ原材料画像 {}
			& .テキーラ画像補足説明 {}

		}
	}
	& .テキーラ生産工程画像 {
		width: 1200px;
		margin: 50px 0 0 0;
	}

	& .テキーラ代表カクテル並び {

		margin: 50px 0 0 0;

		& .テキーラ代表カクテル {
			text-align: center;
			margin: 0 0 50px 0;
			font-size: 2rem;
			font-weight: bold;
		}
		& .テキーラカクテル全体並び {
			width: 1000px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			& .テキーラカクテル1並び {


				& .テキーラカクテル１ {
					width: 400px;
				}
				& .テキーラカクテル１名前 {}
			}
			& .テキーラカクテル2並び {


				& .テキーラカクテル２ {
					width: 400px;
				}
				& .テキーラカクテル2名前 {}
			}
		}
	}
}

.画面６ {
	background-color: #f5f5f5;
	margin: 100px 0 0 0;
	width: 1200px;
	& .まとめ画像 {
		width: 1200px
	}
	& .まとめ文 {
		margin: 20px 0 75px 0;
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
	}

	& .まとめ備考欄並び {
		width: 1000px;
		margin: auto;
		display: flex;
		justify-content: space-between;

		& .タイトル再記入並び {
			& .サブタイトル再記入 {
				margin: auto;
				font-family: "游明朝体";
				font-size: 2rem;
			}

			& .タイトル再記入 {
				font-family: "游明朝体";
				font-size: 5rem;
			}
			& .作者詳細 {
				margin-top: 50px;
				margin-bottom: 50px;
				font-size: 1.2rem;
			}

		}
	}
}
